<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Music Manager</title>
	@Styles.Render("~/Content/css")
</head>

<body>
	<header>
		<div class="row">
			<div class="upper_header">
				<img alt="Logo" class="img-responsive" src="~/Content/img/logo.jpg">
			</div>
		</div>
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Library", "ViewLibrary", "Library")</li>
						<li>@Html.ActionLink("Add", "Add", "Create")</li>
						<li>@Html.ActionLink("Advanced Search", "Search", "Home")</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="container body-content">
		@RenderBody()
		<hr />
	</div>

	<footer>
		<div class="row">
			<div class="container">
				<div class="about_link">
					<h5>@Html.ActionLink("About site", "About", "Home")</h5>
				</div>
				<div class="copyright">
					<h5>&copy; @DateTime.Now.Year - Daria Deresheva</h5>
				</div>
			</div>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/main.js"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
